.gradle/
.idea/
build/
**/build/
local.properties
*.iml
captures/
build-validation.*
build-projects.log
projects-validation.*
*-validation.log
*-validation.pid
*-validation.exit
*-validation-error.log
/*.log
/*.pid
/*.exit
**/build/outputs/roborazzi/
**/build/reports/roborazzi/